<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start"><img src="https://i.pinimg.com/564x/b3/41/67/b34167662b9bffaaa28c72422e53bc8b.jpg"></ion-thumbnail>
    <ion-title>
      Alphabets
    </ion-title>
    <ion-thumbnail slot="end">
      <button routerLink="/tabs/tab1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj-SaZPK2wk3cyOhflAeaSSyYzAdunGDSMJw&usqp=CAU">
      </button>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab5</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let image of images">
    <img [src]="image" alt="Image">
  </ion-list>
  
</ion-content>
