<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start"><img src="https://i.pinimg.com/564x/b3/41/67/b34167662b9bffaaa28c72422e53bc8b.jpg"></ion-thumbnail>
    <ion-title>
      Welcome to Profile
    </ion-title>
    <ion-thumbnail slot="end">
      <button routerLink="/tabs/home">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj-SaZPK2wk3cyOhflAeaSSyYzAdunGDSMJw&usqp=CAU">
      </button>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="danger">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab4</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card color="warning">
  <ion-avatar>
    <img src="https://images.statusfacebook.com/profile_pictures/cartoon/Cartoon_Profile_Picture07.jpg">
  </ion-avatar>
  <ion-title class="name">Hi Nancy</ion-title>
</ion-card>

<ion-item>
<ion-thumbnail slot="start" class="reward">
<img src="https://png.pngtree.com/png-vector/20220518/ourmid/pngtree-reward-gold-medal-icon-png-image_4660015.png">
</ion-thumbnail>
<ion-title><ion-label>Your Score </ion-label>93/100</ion-title>
</ion-item>


<ion-card>
  <a href="https://www.sesamestreet.org/games">
  <img src="https://img.freepik.com/free-vector/children-are-reading-books-stack-books-garden-scene_1308-104501.jpg?w=2000">
</a>
</ion-card>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <a href="https://www.abcya.com/games/talk_to_me_alphabet">
        <img src="https://img.freepik.com/free-vector/cartoon-funny-yellow-pen-isolated-white-background-cute-character-teacher_105738-1234.jpg?w=2000">
      </a>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <a href="https://youtu.be/p_8t6-QmHj4">
        <img src="https://static7.depositphotos.com/1007989/750/i/600/depositphotos_7507639-stock-photo-preschool-kids-playing.jpg">
        </a>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <a href="https://www.sesamestreet.org/videos">
        <img src="https://i.pinimg.com/originals/12/90/46/1290461c5ea5cca6f8c8dfbe8106318b.jpg"></a>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>