ion-button{
    width: 100%;
    height: 50%;
}
.logo{
    width: 100%;
    height: 100%;
}
ion-card{
    padding-left: 10%;
}
.arrow{
    width: 100%;
    height: 100%;
}
ion-label{
    font-size: 26pt;
    font-family: 'Lucida Sans';
}
ion-title{
    font-size: 20pt;
    font-family: 'Lucida Sans';
    color: rgb(44, 3, 139);
    font-weight: bold;
}