<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start"><img src="https://i.pinimg.com/564x/b3/41/67/b34167662b9bffaaa28c72422e53bc8b.jpg"></ion-thumbnail>
    <ion-title>
      Numbers
    </ion-title>
    <ion-thumbnail slot="end">
      <button routerLink="/tabs/home">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj-SaZPK2wk3cyOhflAeaSSyYzAdunGDSMJw&usqp=CAU">
      </button>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
      <ion-button routerLink="/tabs/numLearn" color="warning">
        <div class="logo">
          <img src="https://thumbs.dreamstime.com/b/book-pencil-cartoon-characters-friends-education-mascots-both-giving-thumbs-up-99557718.jpg" /><br>
          <ion-label>Learn</ion-label>
        </div>
      </ion-button>
      
      <ion-button routerLink="/tabs/numPract" color="success">
        <div class="logo">
          <img src="https://d2gg9evh47fn9z.cloudfront.net/1600px_COLOURBOX38521486.jpg" /><br>
          <ion-label>Practice</ion-label>
        </div>
      </ion-button>
      <!--
      <ion-button color="success">
        <div class="logo">
        <a href="https://www.primarygames.com/math/draw123/">
        <img src="https://d2gg9evh47fn9z.cloudfront.net/1600px_COLOURBOX38521486.jpg"></a><br>
        <ion-label>Practice</ion-label></div>
      </ion-button>
    -->
</ion-content>
