<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start"><img src="https://i.pinimg.com/564x/b3/41/67/b34167662b9bffaaa28c72422e53bc8b.jpg"></ion-thumbnail>
    <ion-title>
      Alphabets
    </ion-title>
    <ion-thumbnail slot="end">
      <button routerLink="/tabs/home">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj-SaZPK2wk3cyOhflAeaSSyYzAdunGDSMJw&usqp=CAU">
      </button>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
      <ion-button routerLink="/tabs/tab5" color="warning">
        <div class="logo">
          <img src="https://i.pinimg.com/564x/b4/a4/ee/b4a4ee34d0d3401ccef048bdb64d4b93.jpg" /><br>
          <ion-label>Learn</ion-label>
        </div>
      </ion-button>
      <ion-button routerLink="/tabs/alphaPractice" color="success">
        <div class="logo">
          <img src="https://elements-cover-images-0.imgix.net/48a6f837-410f-4cca-919c-dca1f122ba17?auto=compress%2Cformat&fit=max&w=1019&s=161d09bfa6063a085868d25e2aea65bf" /><br>
          <ion-label>Practice</ion-label>
        </div>
      </ion-button>
    
   <!-- <ion-button color="success">
      <div class="logo">
      <a href="https://robowhale.com/html5/drawing-letters/">
      <img src="https://elements-cover-images-0.imgix.net/48a6f837-410f-4cca-919c-dca1f122ba17?auto=compress%2Cformat&fit=max&w=1019&s=161d09bfa6063a085868d25e2aea65bf"></a><br>
      <ion-label>Practice</ion-label></div>
    </ion-button> 
  -->
      
</ion-content>
