ion-title{
    font-size: 20pt;
    font-family: 'Lucida Sans';
    color: rgb(44, 3, 139);
    font-weight: bold;
}
.quiz{
    text-align: center;
    align-items: center;
}
ion-card.content{
    background-color: yellow;
}
ion-card-header{
    font-size: 22pt;
    text-align: center;
    font-weight: bold;
    color: rgb(143, 3, 3);
}
ion-label{
    font-size: 22pt;
    word-spacing: 2px;
    font-weight: bold;
}
p{
    font-size: 18pt;
    font-weight: bold;
}
ion-button{
    font-size: 18pt;
}
.logo{
    width: 100%;
    height: 90%;
}