<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start"><img src="https://i.pinimg.com/564x/b3/41/67/b34167662b9bffaaa28c72422e53bc8b.jpg"></ion-thumbnail>
    <ion-title>
      Welcome to KinderJoy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
      <ion-header>Start Learning</ion-header>
    
    <ion-card-content>
      <ion-button routerLink="/tabs/tab1" color="dark">
        <div class="logo">
          <img src="../assets/icon/abc.jpeg" /><br>
          <ion-label>Alphabets</ion-label>
        </div>
      </ion-button>
      <ion-button routerLink="/tabs/tab2" color="medium">
        <div class="logo">
          <img src="../assets/icon/number.png" /><br>
          <ion-label>Numbers</ion-label>
        </div>
      </ion-button>
      <ion-button routerLink="/tabs/tab3" color="medium">
        <div class="logo">
          <img src="https://t3.ftcdn.net/jpg/04/21/44/74/360_F_421447468_CXRbXXka6BdfvmIZju8rezIoGewUQ6BT.jpg" /><br>
          <ion-label>Leaderboard</ion-label>
        </div>
      </ion-button>
      <ion-button routerLink="/tabs/tab4" color="dark">
        <div class="logo">
          <img src="https://previews.123rf.com/images/glopphy/glopphy1704/glopphy170400053/76172890-people-holding-hands-charity-friendship-business-logo-vector.jpg"><br>
          <ion-label>My Profile</ion-label>
        </div>
      </ion-button>
    </ion-card-content>
  

  <ion-card>
         <!-- <img src="https://i.pinimg.com/736x/da/de/01/dade01a5d39a5756d6e00234e5e68e53.jpg">
        -->
        <video controls width="100%">
          <source src="../assets/video/song.mp4" type="video/mp4">
          </video>
  </ion-card>
  <ion-header>Let's Draw</ion-header>
  <ion-card>
    <a href="https://www.sesamestreet.org/art-maker">
    <img src="https://www.shutterstock.com/image-vector/little-chick-painter-drawing-beautiful-260nw-2307927477.jpg">
    </a>
  </ion-card>
</ion-content>
